/* ?CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
?CSS PROPERTIES

.root {
    --primary-color: #0b5feb;
} */

/* ?GENERICS */

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.bold {
    font-weight: bolder;
}

/* .col .card {
    gap: 10px;
} */

h1 {
    font-weight: 800;
    font-size: 5rem;
    padding-top: 50px;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 40px;
}

/* ?UTILS */

.border {
    border: 1px dotted black;
}

/* Spacing */
.margin-btm40 {
    margin-bottom: 40px;
}

.margin-btm10 {
    margin-bottom: 10px;
}

.margin-btm20 {
    margin-bottom: 20px;
}

.margin-top20 {
    margin-top: 20px;
}

/* Containers */
.container-big {
    max-width: 1100px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 10px 15px;
}

.btn-small {
    padding: 5px 10px;

    /* display: inline-block; */
}

.btn-primary {
    background-color: #0b5feb;
    color: #fff;
    margin-bottom: 30px;
}

.btn-secondary {
    background-color: #fff;
    color: #000000;
    border: 1px solid black;
    font-weight: bold;
}


/* ?HEADER */

/* Nav */
.header-navbar {
    background-color: #fff;
    height: 60px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    gap: 10px;
}

.header-navbar ul {
    display: flex;
}

.navbar-left img {
    height: 20px;
    width: auto;
    margin-right: 20px;
}

/* Jumbotron */
.jumbotron {
    height: 750px;
    padding-top: 70px;
    margin-bottom: 100px;
    background-color: #b4d0e6;

}

.jumbotron-content {
    display: flex;
    height: 400px;
    position: relative;
    top: 80px;
}

/* ?MAIN */

/* Plans section */
.plans .row {
    margin: 0 -20px;
    margin-bottom: 40px;
}

.col {
    flex-basis: calc(100% / 3 - 40px);
    margin: 0 20px;
}

.plans .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.circle {
    margin-left: 30px;
}

.month {
    color: gray
}

/* !Carte dei piani */

.plan-type {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.plans h4 {
    margin-top: 80px;
}

.plans h3 {
    font-weight: 800;
    margin-bottom: 20px;
}

.free30 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.plans .card {
    padding: 20px 10px;
}

.team {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

span.sep-underline {
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
}

.blue-link {
    color: blue;
    text-decoration: underline;
}

/* !Sezione azienda */

.agency-plan {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.team-content {
    flex-basis: 60%;
}



/* Partners section */
.partners {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.col-image {
    height: 500px;
    flex-basis: 60%;
}

.col-text {
    flex-basis: 40%;
    padding: 40px 40px 50px 40px;
}

.col-image>img {
    height: 100%;
}


/* Dropbox Business section */
.dropbox-business .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.dropbox-business .col {
    flex-basis: calc(100% / 3 -40px / 3);
}

.dropbox-business p {
    margin-top: 20px;
}

.discover-more {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Agencies section */
.agencies {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.agencies img {
    /* height: 20%; */
    width: auto;
}

.agencies-left,
.agencies-right {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
}

.agencies-left div,
.agencies-right div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

/* !Mid */
.agencies-mid {
    flex-basis: calc(100% / 3);
    padding: 20px 40px 100px 40px;
    background-color: #f5f5f5;
}

.agencies-mid * {
    margin-top: 40px;
}

.agencies-mid blockquote {
    margin-top: 80px;
    margin-bottom: 40px;
}

/* Agencies backgound-colors */
.designit {
    background-color: #a2d39b;
}

.asu {
    background-color: #62082b;
}

.uf {
    background-color: #0193ce;
}

.topps {
    background-color: #ff1c1d;
}

.wbr {
    background-color: #d50020;
}

.hc {
    background-color: #b4d0e6;
}

.lp {
    background-color: #0d2481;
}

.cco {
    background-color: #ffd930;
}

/* !Bottom */
.free-trial {
    background-color: #b4d0e6;
    height: 300px;
}

.free-trial .container-small {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
}

.free-trial span {
    font-size: 2rem;
    flex-basis: 50%;
    font-weight: bolder;
    color: #531337;
}


/* FAQ Section */

.faq h2 {
    margin-bottom: 40px;
}

.faq p {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-weight: bolder;
}

/* ?FOOTER */
footer {
    background-color: #000000;
    color: #fff;
    padding: 100px 0;
    height: 500px;
}

footer h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

footer .container-big {
    display: flex;
    justify-content: space-between;
}

.language {
    margin-top: 150px;
    border-top: 1px solid white;
}

footer a {
    color: #fff;
}